body
		div.container
			h1 Welcome to the blog: #{username}
			hr
			img(src="https://68.media.tumblr.com/18bbc815e4c641246df8a28c9633d392/tumblr_mtjxfgMy9K1s3figho1_400.gif")
			hr
			h2 Login
			form( action="/login", method="post")
				input( type="text", name="username", placeholder="username")
				input( type="password", name="password", placeholder="password")
				input( type="submit")
			hr
			a( href="/username/home" ) HOME |
			a( href="/username/newpost") Make a Post |
			a( href="/username/mypost") Myposts |
			a( href="/username/allposts") Allposts |
			a( href="/") logout
			block content
			hr
			img(src="http://24.media.tumblr.com/tumblr_m4qwdb2Rch1r5ur0ho1_500.gif")
			