extends home.pug

block content
	div.container
		h2 Make a post
		form( action="/newpost", method="post")
			input( type="text", name="title", placeholder="title")
			input( type="textarea", name="newpost", placeholder="post")
			input( type="submit")